<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/form.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/table.css') }}"
    />
    <title>{%block title%} {%endblock%}</title>
  </head>
  <body style="display: flex; margin: 0; padding: 0">
    <nav>
      <h3>System Zarządzania Biblioteką</h3>
      <div class="href-section">
      <a href="/member/register">Zarejestruj członka</a>
      <a href="/librarian/register">Zarejestruj pracownika</a>
      <a href="/book">Dodaj książkę</a>
      <a href="/book/author">Dodaj autora</a>
      <a href="/book/genre">Dodaj gatunek</a>
      <a href="/book/search">Wyszukaj książkę</a>
      <a href="/loan">Wypożycz książkę</a>
      <a href="/loan/return">Zwróć książkę</a>
      <a href="/payment/">Nałóż opłatę</a>
      <a href="/payment/pay">Uiść opłatę</a>
      </div>

      <div class="href-section">
      <a href="/member/all">Lista członków</a>
      <a href="/librarian/all">Lista pracowników</a>
      <a href="/book/all">Lista książek</a>
      <a href="/book/author/all">Lista autorów</a>
      <a href="/book/genre/all">Lista gatunków</a>
      <a href="/loan/all">Lista wypożyczeń</a>
      <a href="/payment/all">Lista opłat</a>
      </div>

    </nav>
    <div id="main-container" >
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes" style=>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <main >{%block main%} {%endblock%}</main>
    </div>
  </body>
</html>

<!--


-->
