{%extends 'base.html'%} {% block title %} Zarejestruj Członka {%endblock%} {%
block main%}
<form action="http://localhost:5000/member/register" method="post">
  <fieldset>
    <legend>Zarejestruj Członka</legend>
    {{form.hidden_tag()}}
    <fieldset>
      <legend>Osoba</legend>
      <div class="input-container">
        {{form.first_name.label}} {{form.first_name}} {% for message in
        form.first_name.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.last_name.label}} {{form.last_name}}{% for message in
        form.last_name.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.pesel.label}} {{form.pesel}}{% for message in form.pesel.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.email.label}} {{form.email}}{% for message in form.email.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.birth_date.label}} {{form.birth_date}}{% for message in
        form.birth_date.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
    </fieldset>
    <fieldset>
      <legend>Adres</legend>
      <div class="input-container">
        {{form.city.label}} {{form.city}}{% for message in form.city.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.postal_code.label}} {{form.postal_code}}{% for message in
        form.postal_code.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.street.label}} {{form.street}}{% for message in
        form.street.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.house_number.label}} {{form.house_number}}{% for message in
        form.house_number.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
      <div class="input-container">
        {{form.apartment_number.label}} {{form.apartment_number}}{% for message
        in form.apartment_number.errors%}
        <div class="validation-message">{{message}}</div>
        {%endfor%}
      </div>
    </fieldset>
    {{form.submit}}
  </fieldset>
</form>
{%endblock%}
