<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>
  </head>
  <body style="display: flex; margin: 0; padding: 0">
    <nav>
      <ul
        style="
          width: 100px;
          border-style: solid;
          margin: 0;
          padding: 0.5rem;
          position: fixed;
        "
      >
        <li style="display: flex">
          <a
            style="margin: 0 auto; padding: 0; text-decoration: none"
            href="/person"
            >Add person</a
          >
        </li>
      </ul>
    </nav>
    <main style="margin: 0 auto">{%block main%} {%endblock%}</main>
  </body>
</html>
