<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>
  </head>
  <body style="display: flex; margin: 0; padding: 0">
    <nav
      style="
        display: flex;
        height: 98%;
        flex-direction: column;
        border-style: solid;
        margin: 0;
        padding: 0.5rem;
        position: fixed;
        overflow-y: auto;
        white-space: nowrap;
      "
    >
      <a
        style="margin: 0 auto; padding: 0; text-decoration: none"
        href="/member/register"
        >Zarejestruj Członka</a
      >
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
      <a>sdfsdf</a>
    </nav>
    <main style="margin: 0 auto">{%block main%} {%endblock%}</main>
  </body>
</html>
